{% extends "base.html.twig" %}
{% block title %}{{post.title}}{% endblock %}
{% block body %}
        <p>post id : {{id}}</p>
        <h3>post title : {{post.title}}</h3>
        <p>post message : {{post.text}}</p>
        <hr>

{% endblock %}